
@font-face {/*länk till fonten*/
    font-family: "Tomorrow";
    src: url(Tomorrow/Tomorrow-Regular.ttf);
}

/*många saker har dropshadows och gradients som är ljusare i mitten*/

/*universal styles*/
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-size: 16px;
    color: hsl(20, 80%, 65%);
    font-family: "Tomorrow";
    scrollbar-width: none;
    text-decoration: none;
} 
body{
    background-image: linear-gradient(to right, hsl(300, 20%, 18%), hsl(300, 20%, 20%), hsl(300, 20%, 18%));
    width: 100%;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
h1{
    font-size: 50px;
    color: hsl(20, 100%, 58%);
    filter:drop-shadow(5px 8px 5px hsl(300, 20%, 10%));
    margin: 20px;
}
h2, p{filter: drop-shadow( 3px 5px 3px hsl(300, 20%, 10%));}


/*    Styles till headern    */


header{
    width: 100%;
    background-image: linear-gradient( to right, hsl(300, 20%, 13%), hsl(300, 20%, 14%), hsl(300, 20%, 13%));
    height: 80px;
}

#logo{

    height: 80%;
    display: flex;
    float: left;
}
#logo>a{height: 100%;    margin: 8px;}
#logo>h1{
    font-size: 30px;
}
nav{
    height: 30px;
    display: flex;
    float: right;
    margin: 25px 5vw;
}
nav a,nav a:visited{
    height: 30px;
    padding: 0 10px;
    background-color: hsl(300, 20%, 17%);
    display: flex;
    align-items: center;
    justify-content: center;
}
nav a:hover{
    color: hsl(20, 100%, 80%);
    transition: 150ms;
}


/*    Styles till om oss sidan    */


#about{
    width: 80vw;
    margin: 50px auto;
}
#about .lightner{padding: 20px;   filter: drop-shadow( 5px 8px 5px hsl(300, 20%, 10%));}
#about span{font-size: 30px;}


/*    Styles till startsidan    */


/*styles till image loopern*/
#gamescarousel{
    width: 80vw;
    margin: 50px auto;
    filter:drop-shadow(5px 8px 5px hsl(300, 20%, 10%));
}
.gamescarouselgradient{
    background-image: linear-gradient(to bottom, hsla(300, 20%, 10%, 0), hsla(300, 20%, 10%, 1));
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
}
#gamescarouselimgs{position: relative;}
#gamescarouselimgs h1{
    z-index: 1;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
#gamescarouselimgs img{aspect-ratio: 16/9;}

/*styles till allgames diven*/
#allgames{
    width: 100vw;
    background-image: linear-gradient(to right, hsl(300, 20%, 16%), hsl(300, 20%, 18%), hsl(300, 20%, 16%));
}
#allgames>h1{
    margin: 0 calc(40px + 10vw);
    padding-top: 50px;
}
#allgames>div{
    margin: auto;
    width: 80vw;
    justify-content:space-around;
    display: flex; 
}
#allgames>div>a{
    height: auto; 
    min-width: 300px;
    flex-grow: 2;
    flex-basis:500px;
    max-width: 500px;
    margin: 20px 40px 50px;
    filter:drop-shadow(5px 8px 5px hsl(300, 20%, 10%));
}
.testgame{
    display: flex;
    align-items: center;
    width: 100%;
    aspect-ratio: 8/1;
    background-image: linear-gradient(to right, hsl(300, 20%, 22%), hsl(300, 20%, 23%), hsl(300, 20%, 22%));
}
.testgame h2{
    padding-left: 20px;
    font-size: 20px;
    color: hsl(20, 100%, 58%);
}
#allgames>div>a>img{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}


/*    styles till de individuella spelsidorna    */


#gamemain {
    width: 95vw;
    margin: 2.5vw;
}
.lightner{
    margin-top: 10px;
    background-image: linear-gradient(to right, hsl(300, 20%, 22%), hsl(300, 20%, 23%), hsl(300, 20%, 22%));
}
#gameleft{
    float: left; 
    width:60vw;
    filter: drop-shadow( 5px 8px 5px hsl(300, 20%, 10%));
}
#gameleft .lightner{/*some clippaths to add cut corners as a decoration*/
    clip-path: polygon(0 0, 0 calc(100% - 20px), 20px 100%, calc(100% - 20px) 100%, 100% calc(100% - 20px), 100% 0);
    margin-bottom: 50px;
}
#gameright{
    float: right;
    width:35vw;
}

/*styles till image loopern*/
#gameimg{
    position: relative;
    width: 60vw;
    aspect-ratio: 16/9;
}
.imgcarousel img{ display: none; aspect-ratio: 16/9;}

/*styles till image-bytar-knapparna*/
button.left,button.right{
    position:absolute;
    bottom: 40%;
    z-index: 10;
    width: 5%;
    height: 20%;
    opacity: 0%;
    background-color: hsl(300, 10%, 50%);
    margin: auto;
    font-size: 20px;
    transition-duration: 50ms;
    color: #ddd;
}
div:hover>button.left,div:hover>button.right{opacity: 50%;}
button.left{left: 0;}
button.right{right: 0;}
div:hover>button.left:hover,div:hover>button.right:hover{opacity: 70%;}
button.left:active,button.right:active{background-color: #444;}

/*styles till gameinfo diven*/
#gameinfo{
    float: right;
    margin: 0 2.5vw;
    width: 30vw;
    filter: drop-shadow( 5px 8px 5px hsl(300, 20%, 10%));
}
#gameinfo >div{
    width: 100%;
}
#gameinfo .lightner{
    padding: 20px;
    clip-path: polygon(0 0, 0 calc(100% - 20px), 20px 100%, calc(100% - 20px) 100%, 100% calc(100% - 20px), 100% 0);
}
#gameinfo2 span{
    color:hsl(20, 100%, 80%);;
}
#gameinfo img{
    aspect-ratio: 2/1;
}

/*styles till köpknappen*/
#buybutton{
   width: 90%;
   margin: 20px auto;
}
#buybutton button{
    color: hsl(300, 20%, 10%);
    font-size: 20px;
    width: 100%;
    height: 50px;
    border: solid;
    border-width: 3px;
    background-image: linear-gradient(to top left, hsl(20, 100%, 60%), hsl(0, 100%, 60%));
    font-weight: bold;
    z-index: 40;
}
#buybutton button:hover{
    color: hsl(300, 20%, 90%);
    background-image: linear-gradient(to bottom right, hsl(20, 100%, 60%), hsl(0, 100%, 60%));
    transition-duration: 150ms;
}

/*styles till den stora spelbeskrivningen*/
#aboutgame{padding:20px;}

/*styles till system requirements*/
#systemreq{
    padding: 20px;
    background-image: linear-gradient( to right, hsl(300, 20%, 20%), hsl(300, 20%, 21%), hsl(300, 20%, 20%));
}
#systemreq table{
    width: 100%;
    justify-content: space-between;
}
#systemreq td, #systemreq th{
    filter: drop-shadow( 3px 5px 3px hsl(300, 20%, 10%));
}
#systemreq td span{
    color:hsl(20, 100%, 80%);;
}
#systemreq th{
    text-align: left;
}

/*styles till footern*/
footer{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    clear: both;
    width: 100vw;
    background-image: linear-gradient( to right, hsl(300, 20%, 13%), hsl(300, 20%, 14%), hsl(300, 20%, 13%));
    height: 300px;
    line-height: 1.3;
}
#contactus{margin-top: 50px;}
footer h2{color: hsl(20, 100%, 58%); font-size: 30px;}
footer a, footer p{font-size: 20px; filter: drop-shadow( 5px 8px 5px hsl(300, 20%, 10%));}
footer a:hover{color: hsl(20, 100%, 80%);}
#followus{margin-top: 50px;}

/*media query som mest flyttar på bilder/divs så de inte overlappar*/
@media(max-width: 800px){
    h1{font-size: 40px;}
    #allgames>div{flex-wrap: wrap;}
    #allgames>div>a{max-width: 600px;}
    #gamemain>h1{margin-left: 7.5vw;}
    #gameright{float:none; width: 80vw; margin:0 auto 50px;}
    #gameleft{float: none; width: 80vw;margin: auto;}
    #gameinfo{float: none;width: 80vw; margin: auto;}
    #gameimg{width: 80vw;}

}
